.feed {
  flex: 0.6;
  margin: 0 20px;
}

.feed__inputContainer {
  /* background-color: 07080D; */
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.feed__input {
  border: 1px solid gray;
  border-radius: 30px;
  display: flex;
  padding: 10px;
  color: lightgray;
  padding-left: 15px;
}

.feed__input > form {
  display: flex;
  width: 100%;
}

.form__input {
  border: none;
  background: none;
  color: white;
  flex: 1;
  margin-left: 10px;
  outline-width: 0;
  font-weight: 600;
}

.form__button {
    display: none;
}

.feed__inputOptions {
    display: flex;
    justify-content: space-evenly;
}

.feed__inputImage {
  margin-top: 10px;
}