.friend {
  position: sticky;
  top: 550px;
  border: 1px solid gray;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
}

.user {
  display: flex;
  gap: 5px;
  margin-top: 15px;
  border-radius: 100px;
}

.user:hover {
  background-color: #2d3037;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.userInfo > p {
  font-size: 14px;
}

.addFriend:hover {
  background-color: #4d4f54;
  border-radius: 100px;
}
