.header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 0.1px solid gray;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 140px;
    padding-left: 140px;
    background-color: #202124;
    /* width: 100%; */
    z-index: 999;
}

.header__left {
    display: flex;
    align-items: center;
    flex: 0.5;
    /* justify-content: space-around; */
}

.header__left > span {
    font-size: 20px;
    margin-right: 20px;
}

.header__search {
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 18px;
    color: gray;
    background-color: #eef3f8;
}

.header__search > input {
    outline: none;
    border: none;
    background: none;
}


.header__right {
    display: flex;
    flex: 0.5;
    justify-content: flex-end;
    align-items: center;
    margin-left: 30px;
}